:root {
  --color-intro-heading: #bdbf09;
  --color-dark: #095156;
  --color-medium: #087e8b;
  --color-white: #ffffff;

  --intro-heading-size: 4rem;
  --intro-text-size: 3rem;

  --section-title-size: 2.5rem;
  --section-subtitle-size: 2rem;

  --section-text-size: 1.4rem;

  --heading-font: 'Roboto Slab', serif;
  --text-font: 'Roboto', sans-serif;
}

a:link {
  text-decoration: none;
}

body {
  /* background-color: grey; */
  margin: 0;
}

.bold {
  font-style: bold;
}

.container {
  box-shadow: 0px 0px 20px 5px #cdcdcd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(9, 1fr); */
  background-color: black;
  max-width: 1200px;
  max-height: 3300px;
  margin: 0 auto;
}

.intro {
  background-image: url('images/background-image.png');
  grid-column: 1 / span 6;
  /* grid-row: auto / span 2; */
  height: 800px;
  margin: 0 auto;
}

h1 {
  color: var(--color-intro-heading);
  font-family: var(--heading-font);
  font-size: var(--intro-heading-size);
  margin: 20rem auto 0 auto;
  width: 55%;
  padding-left: 10rem;
  /* height: 50%; */
}

.intro p {
  color: var(--color-dark);
  font-family: var(--text-font);
  font-size: var(--intro-text-size);
  margin: 1rem auto 0 auto;
  width: 60%;
  padding-top: 1rem;
  padding-left: 9rem;
}

.portfolio {
  color: var(--text-color-dark);
  background-color: #ffffff;
  grid-column: 1 / span 6;
  /* grid-row: 3 / span 4; */
  max-height: 1450px;
  margin: 0 auto;
  padding-right: 5rem;
  padding-bottom: 3rem;;
}

.portfolio h2, .portfolio h3, .portfolio p {
  color: var(--color-dark);
}

h2 {
  /* grid-column: 1 / span 6; */
  font-family: var(--heading-font);
  font-size: var(--section-title-size);
  margin: 2rem auto;
  /* padding: 0 auto; */
  width: 30%;
  padding-left: 10rem;
}

h3 {
  /* grid-column: 1 / span 6; */
  font-family: var(--heading-font);
  font-size: var(--section-text-size);
  margin: 3rem auto;
  /* padding: 0 auto; */
  /* width: 20%; */
  /* padding-left: 10rem; */
  /* padding: 5rem; */

}

p, ul {
  /* grid-column: 1 / span 6; */
  font-family: var(--text-font);
  font-size: var(--section-text-size);
  /* margin: 2rem auto; */
  /* padding: 0 auto; */
  /* width: 20%; */
  /* padding-left: 10rem; */
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article img {
  max-width: 500px;
  max-height: 350px;
  border: 2px solid #555;
  margin: 2rem 5rem;
}

.description {
  /* padding: 1rem; */
  /* margin: 5rem; */
}

.desctiption p {
  padding-right: 2rem;
}

.about {
  background-color: #087e8b;
  grid-column: 1 / span 6;
  /* grid-row: auto / span 2; */
  max-height: 650px;
  margin: 0 auto;
}

.about, .contact {
  color: var(--color-white);
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

p.bold-text {
  font-family: var(--heading-font);
}

p.regular-text, .about-list {
  font-family: var(--text-font);
}

.contact {
  background-color: #095156;
  grid-column: 1 / span 6;
  /* grid-row: auto / span1; */
  max-height: 400px;
  margin: 0 auto;
}

.contact-sections {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
}

.contact-article {
  margin: 0 auto;
}