:root {
    --intro-heading-color: #bdbf09;
    --intro-heading-size: 4rem;
    --intro-text-size: 3rem;

    --text-color-dark: #095156;
    --text-color-white: #ffffff;

    --section-title-size: 2.5rem;

    --section-subtitle-dark: #087e8b;
    --section-subtitle-white: #ffffff;
    --section-subtitle-size: 2rem;

    --section-text-dark: #087e8b;
    --section-text-white: #ffffff;
    --section-text-size: 2rem;

    --heading-font: 'Roboto Slab', serif;
    --text-font: 'Roboto', sans-serif;
  }

  .container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(9, 1fr);
      background-color: black;
      max-width: 1200px;
      margin: 0 auto;
  }

  .intro {
    background-image: url('images/background-image.png');
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    height: 800px;
  }

  h1 {
    color: var(--intro-heading-color);
    font-family: var(--heading-font);
    font-size: var(--intro-heading-size);
    margin: 20rem auto 0 auto;
    width: 55%;
    padding-left: 10rem;
    /* height: 50%; */
  }

  .intro p {
    color: var(--text-color-dark);
    font-family: var(--text-font);
    font-size: var(--intro-text-size);
    margin: 1rem auto 0 auto;
    width: 60%;
    padding-top: 1rem;
    padding-left: 9rem;
  }

  .portfolio {
    color: var(--text-color-dark);
    background-color: #ffffff;
    grid-column: 1 / span 6;
    grid-row: 3 / span 4;
    height: 1600px;
  }

  article img {
    max-width: 500px;
    max-height: 350px;
  }

  h2 {
    font-family: var(--heading-font);
    font-size: var(--section-title-size);
    margin: 2rem auto;
    padding: 0 auto;
    /* width: 55%; */
    /* padding-left: 10rem; */
  }

  .about-me {
    background-color: #087e8b;
    grid-column: 1 / span 6;
    grid-row: 7 / span 2;
    height: 650px;
  }

  .contact {
    background-color: #095156;
    grid-column: 1 / span 6;
    grid-row: 8 / span1;
    height: 650px;
  }