:root {
  --color-intro-heading: #bdbf09;
  --color-dark: #095156;
  --color-medium: #087e8b;
  --color-white: #ffffff;

  --intro-heading-size: 4rem;
  --intro-text-size: 3rem;

  --section-title-size: 2.5rem;
  --section-subtitle-size: 2rem;

  --section-text-size: 1.4rem;

  --heading-font: "Roboto Slab", serif;
  --text-font: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
}

.bold {
  font-style: bold;
}

.container {
  box-shadow: 0px 0px 20px 5px #cdcdcd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1200px;
  max-height: 3300px;
  margin: 0 auto;
}

.intro {
  background-image: url("images/background-image.png");
  background-size: 100%;
  grid-column: 1 / span 6;
  height: 800px;
  margin: 0 auto;
}

h1 {
  color: var(--color-intro-heading);
  font-family: var(--heading-font);
  font-size: var(--intro-heading-size);
  margin: 20rem auto 0 auto;
  width: 55%;
  padding-left: 5rem;
}

.intro p {
  color: var(--color-dark);
  font-family: var(--text-font);
  font-size: var(--intro-text-size);
  margin: 1rem auto 0 auto;
  width: 60%;
  padding-top: 1rem;
  padding-left: 5rem;
}

.portfolio {
  color: var(--text-color-dark);
  background-color: #ffffff;
  grid-column: 1 / span 6;
  max-height: 1450px;
  margin: 0 auto;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

.portfolio h2,
.portfolio h3,
.portfolio p {
  color: var(--color-dark);
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--section-title-size);
  margin: 2rem auto;
  width: 30%;
  padding-left: 10rem;
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--section-text-size);
  margin: 3rem auto;
}

p,
ul {
  font-family: var(--text-font);
  font-size: var(--section-text-size);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

article img {
  max-width: 500px;
  max-height: 350px;
  border: 2px solid #555;
  margin: 2rem 5rem;
  opacity: 0.8;
}

article img:hover {
  opacity: 1;
}

.description {
}

.desctiption p {
  padding-right: 2rem;
}

.about {
  background-color: #087e8b;
  grid-column: 1 / span 6;
  max-height: 650px;
  margin: 0 auto;
}

.about,
.contact {
  color: var(--color-white);
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

p.bold-text,
.about-list {
  font-family: var(--heading-font);
}

.about-list {
  list-style-type: none;
  margin: 1rem 9rem 4rem 9rem;
  padding: 1rem;
  background-color: #cdcdcd;
  background-color: rgba(184, 184, 184, 0.2);
}

.about-list li {
  padding: 0.7rem;
}

.right-about {
  padding-right: 5rem;
}

p.regular-text {
  font-family: var(--text-font);
}

.contact {
  background-color: #095156;
  grid-column: 1 / span 6;
  max-height: 400px;
  margin: 0 auto;
}

.contact h2 {
  text-align: center;
  padding: 0;
}

.contact-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-article {
  margin: 0 auto;
}

ul.icon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0;
}

ul.icon-list li {
  list-style-type: none;
  width: 6em;
}

ul.icon-list img {
  margin: 0;
  border: 0;
}

.contact-article h3 {
  text-align: center;
}

.copyright {
  margin: 3rem 1rem 1rem 1rem;
  text-align: center;
}
